

.user ul li a{
    color: #ffffff;
}
.right-header .user{
    float: right;
    width: 150px;
    /* margin-right: 50px; */
   

    line-height: 80px;
    font-size: 12px;
}

.user ul:first-child {
    display: block;
}
.user ul:last-child {
    display: none;
}
.user ul li{
        float: left;
        line-height: 80px;
        padding: 0 10px;
        
}
.right-header .shil3{

    height: 50px;
    margin-right: 30px;
    font-size: 30px;
    /* float: right; */

}
.islogin ul:first-child {
    display: none;
}
.islogin ul:last-child {
    display: block;
}

